#main_title {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    letter-spacing: 2px;
    font-weight: 500;
}

.box1 h2 {
    float: left;
}

.box1 button {
    float: right;
}

.container {
    margin-top: 50px;
}

h6 {
    margin-top: 2%;
    text-align: center;
    color: rgb(21, 161, 21);
}

.table, .box1 {
    margin: auto;
    width: 90% !important; 
}

.required-star {
    color: red;
    margin-left: 2px;
}